# SPDX-FileCopyrightText: 2025 - 2025 Software GmbH, Darmstadt, Germany and/or its subsidiaries and/or its affiliates
# SPDX-License-Identifier: Apache-2.0

services:
  mongodb:
    image: mongo
    logging:
      options:
        max-size: 10m
    volumes:
      - efmsmongodata:/data/db
    environment:
      - MONGO_INITDB_DATABASE=efmsdb
      #- MONGO_INITDB_ROOT_USERNAME=admin
      #- MONGO_INITDB_ROOT_PASSWORD=password

  app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - mongodb
    environment:
      SPRING_APPLICATION_JSON: '{
          "spring.data.mongodb.uri": "mongodb://mongodb:27017/efmsdb",
          "spring.application.name": "EFMS",
          "spring.jpa.generate-ddl": true
        }'

volumes:
  efmsmongodata: